<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DisasterTreeDll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="Bridge"/>
      <!--相对debug目录的路径-->
      <dependentAssembly>
        <assemblyIdentity name="ogr_csharp" culture="neutral" publicKeyToken="db5a52b08dc5b321"/>
        <bindingRedirect oldVersion="1.0.4708.26522" newVersion="1.0.6834.17153"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="osr_csharp" culture="neutral" publicKeyToken="db5a52b08dc5b321"/>
        <bindingRedirect oldVersion="1.0.4708.26521" newVersion="1.0.6834.17153"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ogr_csharp" culture="neutral" publicKeyToken="db5a52b08dc5b321"/>
        <bindingRedirect oldVersion="1.0.3874.38577" newVersion="1.0.6834.17153"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--施工进度数据库连接配置项-->
    <add key="HOST" value="172.16.76.11"/>
    <add key="PORT" value="1521"/>
    <add key="SERVICE_NAME" value="RIMDB"/>
    <add key="USERID" value="CJHHS"/>
    <add key="PASSWORD" value="aa"/>
    
    
    <!--test-->
    <!--工程文件路径获取方式：正常模式 0， 从指定路径内加载fly文件 1 -->
    <add key="CONNECTIONTYPE" value="0"/>
    <add key="TitleText" value="CRDC_RIM_DESKTOP"/>
    <!--<add key="TitleText" value="京沪高铁三维可视化建设管理系统" />-->
    <!--数据部署方式：网络 1 or 本地 0-->
    <add key="WebFly" value="0"/>
    <!--网络数据路径,存放了fly文件连接的所有表单数据（xls，shape等）-->
    <add key="ProjectXMLFilePath" value="http://61.187.88.231:8000/3dFinal/data/default.xml"/>
    <!--<add key="ProjectXMLFilePath" value="http://172.16.76.8/vr/XMFiles/UploadFlys/mengxi_v2/data/mengxi.xml"/>-->
    <!--系统fly文件名-->
    <add key="MainFlyname" value=""/>
    <!--<add key="MainFlyname" value="\\172.16.76.5\jinghu_2011\京沪最新发布版本.fly" />-->
    <!--系统默认用户坐标系文件-->
    <!--<add key="CoordFilename" value="长昆客专工程坐标系" />-->
    <!--系统默认用户坐标系组-->
    <!--<add key="CoordGroupname" value="长昆客专施工坐标系" />-->
    <!--系统默认线位-->
    <!--<add key="LineName" value="京沪三维中线运营里程K-新.dat"/>-->
    <!--<add key="LineName" value="蒙西线位.dat"/>-->
    <add key="LineName" value="长昆线-施工图线位.dat"/>
    <!--用户添加对象打包保存路径-->
    <add key="SystemdataForlder" value="Userdata"/>
    <!--图例库文件路径-->
    <add key="MapSignsForlder" value="Tools\datalibrary\Icons\Map-Signs"/>
    <!--导航数据库路径-->
    <add key="DBConnectString" value="Provider=Microsoft.ACE.OleDb.12.0;Persist Security Info=false; Data Source="/>
    <!--<add key="DBConnectString" value="Provider=Microsoft.Jet.OleDb.4.0;Persist Security Info=false; Data Source="/>-->
    <add key="RoadDB" value="tools\应急救援"/>
    <add key="RoadShpPath" value="tools\应急救援\Road.shp"/>
    <add key="POIShpPath" value="tools\应急救援\POI.shp"/>
    <!--隧道Fly文件路径-->
    <add key="SuidaoFly" value=""/>
    <!--fly文件历史记录-->
    <add key="MPTXML" value="\MPTHISTORY.xml"/>
    <!--mpt文件历史记录-->
    <add key="FLYXML" value="\FLYHISTORY.xml"/>
    <!--界面布局文件-->
    <add key="layoutsettings" value="layoutsettings.xml"/>
    <!--插件框架配置项-->
    <!--插件文件路径-->
    <add key="PlugFilePath" value=""/>
    <!--主程序启动时是否加载默认的预加载插件-->
    <add key="AutoPlugIn" value="1"/>
    <!--启动时决定是否启动项目选择对话框-->
    <add key="ShowPrjectSelectDlg" value="1"/>
    <!--施工进度管理模块配置项-->
    <add key="SGJDDataConnect" value="Data Source=orcl;User ID=3dsgjd;Password=aa"/>
    <!--模型文件网络存放路径-->
    <add key="MODELURL" value="http://61.187.88.231:8000/3dFinal/Modeldata"/>
    <!--<add key = "MODELURL" value="\\172.16.76.22\data-3\CK_MODEL\modeldata"/>-->
    <!--防灾监控模块-->
    <!--刷新间隔 秒-->
    <add key="ZHJKT" value="12"/>
    <add key="SSJKT" value="5"/>
    <!--设计资料管理数据库-->
    <add key="RMMSDataConnect" value="Data Source=orcl;User ID=ckdesign;Password=aa"/>
    <!--<add key="RMMSDataConnect" value="Data Source=orcl;User ID=3dtest;Password=aa" />-->
    <!--当前项目ID：JH 1;CK 2-->
    <add key="ProjectID" value="2"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
    <add key="DataConnect" value="Data Source=ORA10G_172.16.76.8;User ID=HYSW;Password=hysw"/>
    <add key="SGJDQL_NodeName" value="2_工点模型\xb_qiao"/>
    <add key="SGJDSD_NodeName" value="2_工点模型\xb_suidao"/>
    <add key="SGJDLJ_NodeName" value="2_工点模型\xb_luji"/>
    <add key="ProjectModelpath" value="http://172.16.76.8/vr/XMFiles/UploadFlys/xingbao/sgmodel"/>
    <add key="ModelfileSuffix" value=".xpl2"/>
    <add key="modelnameField" value="[F2]"/>
    <add key="TimeRangeEnd" value="20140317"/>
    <add key="TimeRangeStart" value="20131015"/>
    <add key="FinalModelfolder" value="xpl2"/>
    <add key="FinalModelfileSuffix" value=".xpl2"/>
    <add key="FinalmodelnameField" value="[F3]"/>
    <add key="EBSModelGroup" value="进度模型"/>
    <add key="Datefieldname" value="F11"/>
    <!--本地施工进度数据路径-->
    <add key="ProgressFilePath" value="z:\2昌景黄安徽段\主场景数据\CJHHSV2\data"/>
    <!--施工进度数据库连接配置项-->
    <add key="SGDataConnect" value="Data Source=ORA11G;User ID=ydtl;Password=aa"/>
    <!--3dml过滤配置-->
    <add key="MeshlayersGroup" value="哈尔滨站"/>
    <add key="FileterName" value="Z"/>
    <!--项目数据的网络部署地址和本地部署路径-->
    <add key="Projectdataweburl" value="http://172.16.76.4/crdc_rim/"/>
   <!--<add key="ProjectdataLocalPath" value="\\172.16.76.4\TE3dData\0项目配置\ProjectDataConfig.xml"/>-->
     <!--<add key="ProjectdataLocalPath" value="\\172.16.76.4\TE3dData\0项目配置\ProjectDataConfig.xml"/>-->
    <add key="PipeDataContection" value="0"/>
    <add key="ModelLibPath" value="\\172.16.76.4\\ModelLib"/>
  </appSettings>
  <applicationSettings>
    <!--防灾监控模块-->
    <DisasterTreeDll.Properties.Settings>
      <setting name="DisasterTreeDll_WebReference_IMS6000Service" serializeAs="String">
        <value>http://61.187.88.231:8083/ims6000service/ims6000service.asmx</value>
      </setting>
      <setting name="DisasterTreeDll_WebReference1_FzService" serializeAs="String">
        <value>http://61.187.88.231:8081/3w/FzService.asmx</value>
      </setting>
      <setting name="DisasterTreeDll_WebReference2_Service1" serializeAs="String">
        <value>http://61.187.88.231:8082/service1.asmx</value>
      </setting>
    </DisasterTreeDll.Properties.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
     
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
